.jumbotron {
    border-style: solid;
    background-color: rgba(43, 43, 173, 0.795);
    color: white;
    margin: 0px 10% 20px 10%;
    text-align: center;

}

/* .display {
    text-align: center;
} */

/* .form-control{
    margin-bottom: 10px;
} */

.card {
    border-style: solid;
    border-color: rgba(43, 43, 173, 0.795);
    margin: 0px 10% 15px 10%;
}

.btn{
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;
}

.text-break {
    overflow-wrap: break-word;
}